<app-header></app-header>

<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
</head>

<main>

  <div id="demo" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../assets/slide/homepage.jpg" alt="Los Angeles" width="100%" height="500">
        <div class="carousel-caption">
          <h1 style="color: rgb(252, 7, 7); margin-bottom: 30px; font-size: 50px;">WELCOME TO SPORTA</h1>
          <h2 style="margin-bottom: 40px; color: yellow;">
            CÁP KÈO NHANH CHÓNG - TÌM ĐỐI DỄ DÀNG
          </h2>
          <div class="search-bar mt-4 p-3 p-lg-1 pl-lg-4"
            style="margin-bottom: 140px !important; height: 45px; width: 60%; margin-left: 180px;">
            <form id="main-search-form" action="/dat-san-online">
              <div class="row" style=" width: 100%; display: flex; justify-content: space-between; margin: 0; ">
                <div class="col-lg-4 d-flex align-items-center form-group">
                  <input type="date" name="date" class="datepicker datepicker-search form-control border-0 shadow-0"
                    data-provide="datepicker" value="T6, 17-06-2022">
                </div>
                <div class="col-lg-2 d-flex align-items-center form-group">
                  <input type="text" value=" 21:31" name="begin_time" title="Vào lúc" placeholder="Vào lúc"
                    data-style="btn-form-control" class="form-control border-0 shadow-0 main-timepicker">
                </div>
                <div class="col-lg-4" style="margin-bottom: 15px !important; padding-right: 0px;">
                  <button type="submit" class="btn btn-primary btn-block rounded-xl h-100" routerLink="/search">Tìm
                    kiếm</button> <!-- Submit btn -->
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

  </div>

</main>


<app-footer></app-footer>