<app-header></app-header>

<main>
  <div id="demo" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../assets/slide/homepage.jpg" alt="Los Angeles" width="100%" height="500">
        <div class="carousel-caption">
          <h1 style="color: rgb(252, 7, 7); margin-bottom: 30px; font-size: 50px;">WELCOME TO SPORTA</h1>
          <h2 style="margin-bottom: 150px; color: yellow;">
            CÁP KÈO NHANH CHÓNG - TÌM ĐỐI DỄ DÀNG
          </h2>
        </div>
      </div>
    </div>
  </div>
  <div class="container mt-5 mb-5">
    <div class="d-flex justify-content-center row">
      <div class=" col-md-4 d-md-block">
        <p style="padding-top: 8px;">Địa chỉ: Số 43, Võ Chí Công, Ba Đình, Hà Nội</p>
        <p>Điện thoại: 0335097666</p>
        <p>Giờ mở cửa: 06:00 - 24:00</p>
        <div class="image Rbx14">
          <div class="float-left w-50 h-100">
            <img src="../../assets/anhmau/anh1.jpg" class="h-100 w-100" alt="">
          </div>
          <div class="float-right w-50 h-100">
            <div>
              <img src="../../assets/anhmau/anh2.jpg" class="h-50 w-50" alt="">
              <img src="../../assets/anhmau/anh3.jpg" class="h-50 w-50" alt="">
            </div>
            <div>
              <img src="../../assets/anhmau/anh4.jpg" class="h-50 w-50" alt="">
              <img src="../../assets/anhmau/anh5.jpg" class="h-50 w-50" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex flex-column col-md-8">
        <div class="d-flex flex-row align-items-center text-left comment-top p-2 bg-white border-bottom px-4">
          <h3>ĐÁNH GIÁ CỦA KHÁCH HÀNG</h3>
        </div>
        <div class="coment-bottom bg-white">
          <div class="d-flex flex-row add-comment-section mt-4 mb-4">
            <div class="rating">
              <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
              <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
              <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
              <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
              <input type="radio" name="rating" value="1" id="1" checked><label for="1">☆</label>
            </div>
            <input type="text" id="comment-content" class="form-control mr-3" placeholder="Add comment">
            <button class="btn btn-primary" type="button" (click)="submitComment()">Comment</button>
          </div>
          <div class="commented-section mt-2" style="margin-bottom: 20px;" *ngFor="let item of listComment">
            <div class="d-flex flex-row align-items-center commented-user">
              <h5 class="mr-2">{{item['r_idUser.nameTeam']}}</h5>
              <div class="rating">
                <input type="radio" [checked]="item.star>4"><label>☆</label>
                <input type="radio" [checked]="item.star>3"><label>☆</label>
                <input type="radio" [checked]="item.star>2"><label>☆</label>
                <input type="radio" [checked]="item.star>1"><label>☆</label>
                <input type="radio" [checked]="item.star>0"><label>☆</label>
              </div>
            </div>
            <div class="comment-text-sm"><span>{{item.content}}</span></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>


<app-footer></app-footer>