<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<header>
    <div class="sport-nav navbar-fixed">
        <nav class="navbar navbar-expand-lg fixed-top shadow navbar-light bg-white">
            <div class="container-fluid">
                <div class="d-flex align-items-center">
                    <a href="" navnar-brand py-1 ml-2>
                        <img src="../../assets/logo/logo.svg" alt="Logo" style="width: 60px; height: 35px;">
                    </a>
                </div>
                <button type="button" data-toggle="collapse" data-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation"
                    class="navbar-toggler navbar-toggler-right collapsed">
                    <i class="fa fa-bars"></i>
                </button>
                <div class="navbar-callapse mr-3 callapse">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a href="" class="nav-link">Bảng Xếp Hạng</a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link">Bài Đăng</a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link">Quản Lý Sân</a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link" routerLink="profile">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link">Đăng xuất</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>

<main style="padding-top: 63px; background-color: ghostwhite; padding-bottom: 50px;">
    <div class="container-fluid container-lg pt-3 pb-3 border-bottom px-lg-5">
        <div class="row justify-content-md-center mt-3 minimum-heigh">
            <div class="col-md-4 col-lg-3 pr-0 bg-white justify-content-center">
                <div class=" user-sidebar sidebar-md " style="margin-top: 50px">
                    <ul class="navbar-nav " aria-labelledby="">
                        <li class="nav-item">
                            <div class="user-brief ">
                                <div class="d-flex flex-column align-self-center user-brief_right m-md-1">
                                    <div class="text-muted text-sm d-none d-md-flex ">
                                        <a href="profile" class="text-decoration-none" style="color: black !important;">
                                            <i class="fa fa-edit"></i>
                                            Sửa hồ sơ
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <div class="row ">
                            <div class="m-2 col-lg-7 col-7 menu-items">
                                <li class="mb-1" style="color: #93a3b5 !important;">
                                    <i class="fa fa-user-circle">
                                        <a href=""  style="color: #93a3b5 !important;" routerLink="/profile" >Thông tin tài khoản</a>
                                    </i>
                                </li>
                                <li class="mb-1" style="color: #93a3b5 !important;">
                                    <i class="fa fa-clock-o">
                                        <a href="" routerLink="/timeline" style="color: #93a3b5 !important;">Lịch của tôi</a>
                                    </i>
                                </li>
                                <li class="mb-1" style="color: #93a3b5 !important;">
                                    <i class="fa fa-unlock-alt">
                                        <a href="" style="color: #93a3b5 !important;" routerLink="/repassword">Đổi mật khẩu</a>
                                    </i>
                                </li>
                            </div>
                        </div>
                    </ul>
                </div>
            </div>
            <div class="col-md-8 col-lg-9 pl-3 pr-3">
                <div class="user-page-content">
                    <section class="border-light"> 
                        <div class="row justify-content-center m-2">
                            <h5 class="w-100 text-center d-none d-md-block">Lịch Đặt</h5>
                        </div>
                        <form action="">
                            <div class="row pl-md-2">
                                <div class="col-xl-3 col-md-3 mb-4">
                                    <label for="form_guests" class="form-label">Trạng thái</label>
                                    <select name="status" id="form_guests" class=" form-control">
                                        <option value="new">Chưa hoàn thành</option>
                                        <option value="done">Đã Hoàn thành</option>
                                    </select>
                                </div>
                                <div class="col-xl-3 col-md-3 mb-4">
                                    <label for="begin_date" class="form-label">Từ ngày</label>
                                    <input type="date" id="begin_date" name="begin_date" class="datepicker datepicker-begin form-control" data-provide="datepicker" value="09/05/2022">
                                </div>
                                <div class="col-xl-3 col-md-3 mb-4">
                                    <label for="end_date" class="form-label">Đến ngày</label>
                                    <input type="date" id="end_date" name="end_date" class="datepicker datepicker-end form-control" data-provide="datepicker" value="09/06/2022">
                                </div>
                                <div class="col-sm-3 mb-4 order-2 order-sm-1">
                                    
                                    <button type="submit" class="btn btn-primary search-btn" style="margin-top: 31px !important;">
                                        <i class="fa fa-search mr-1"></i>
                                        Tìm kiếm
                                    </button>
                                </div>
                            </div>
                        </form>
                    </section>
                </div>
                <div class="container" style="border-bottom: 1px solid;">
                    <div class="table-rankings">
                        <table class="table table-responsive-lg text-gray-700 table-striped table-borderless table-hover pd-2">
                            <thead>
                                <tr>
                                    <th scope="col">Khung giờ</th>
                                    <th scope="col">Giá</th>
                                    <th scope="col">Tỷ số</th>
                                    <th scope="col">Đối thủ</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>06:00 AM</td>
                                    <td>0.0</td>
                                    <td>1754</td>
                                    <td>HN FC</td>
                                </tr>
                                <tr>
                                    <td>08:00 AM</td>
                                    <td>0.0</td>
                                    <td>1379</td>
                                </tr>
                                <tr>
                                    <td>10:00 AM</td>
                                    <td>0.0</td>
                                    <td>1314</td>
                                </tr>
                                <tr>
                                    <td>13:00 PM</td>
                                    <td>0.0</td>
                                    <td>1273</td>
                                </tr>
                                <tr>
                                    <td>15:00 PM</td>
                                    <td>44.0</td>
                                    <td>0.0</td>
                                </tr>
                                <tr>
                                    <td>17:00 PM</td>
                                    <td>31.0</td>
                                    <td>0.0</td>
                                </tr>
                                <tr>
                                    <td>19:00 PM</td>
                                    <td>29.0</td>
                                    <td>0.0</td>
                                </tr>
                                <tr>
                                    <td>21:00 PM</td>
                                    <td>24.0</td>
                                    <td>0.0</td>
                                </tr>
                                <tr>
                                    <td>23:00 PM</td>
                                    <td>24.0</td>
                                    <td>0.0</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>        
</main>

<app-footer></app-footer>

