<app-header></app-header>

<body class="d-flex flex-column h-100">
    <main style="padding-top: 63px;">
        <div class="container-fluid px-3 login">
            <div class="row win-vh-100">
                <div class="col-md-8 col-lg-6 col-xl-5 d-flex align-items-center">
                    <div class="w-100 py-5 px-md-5 px-xl-6 position-relative">
                        <div class="mb-4">
                            <h3 class="orange-text" style="color: orange;">SPORTA</h3>
                            <h4 class="d-none d-md-block">Xin chào bạn</h4>
                            <a href="" type="button" class="btn btn-outline-primary btn-block btn-social mb-3">
                                <i class="fa-2x fa fa-facebook-f  btn-social-icon"></i>
                                Đăng nhập với Facebook
                            </a>
                            <a href="" type="button" class="btn btn-outline-red btn-block btn-social mb-3">
                                <i class="fa-2x fa fa-google  btn-social-icon"></i>
                                Đăng nhập với Google
                            </a>
                            <hr data-content="Hoặc" class="my-3 hr-text letter-spacing-2">
                            <div class="form-group">
                                <label for="loginUsername" class="form-label">Tên đăng nhập</label>
                                <input autofocus="autofocus" required="required" class="form-control" type="email" value
                                    name="user[email]" id="user_name">
                            </div>
                            <div class="form-group mb-2">
                                <div class="row">
                                    <div class="col">
                                        <label for="loginPassword" class="form-label">Mật khẩu</label>
                                    </div>
                                    <input type="password" autocomplete="off" required="required" class="form-control"
                                        name="user[password]" id="user_password">
                                </div>
                            </div>
                            <button class="btn btn-block btn-secondary" (click)="login()">Đăng nhập</button>
                            <div class="mt-1 row">
                                <div class="col-6">
                                    <a href="" class="form-text small">Quên mật khẩu?</a>
                                </div>
                                <div class="col-6">
                                    <a href="" class="float-right form-text small" routerLink="/register">Đăng ký</a>
                                </div>
                            </div>
                            <!-- </form> -->
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-6 col-xl-7 d-none d-md-block">
                    <div class="overlay pt-5 mt-5 pb-5">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                              <img src="../../assets/slide/homepage.jpg" alt="Los Angeles" width="100%" height="500">
                              <div class="carousel-caption">
                                <h1 style="color: rgb(252, 7, 7); margin-bottom: 80px; font-size: 50px;">WELCOME TO SPORTA</h1>
                                <h2 style="margin-bottom: 100px; color: yellow;">
                                  CÁP KÈO NHANH CHÓNG - TÌM ĐỐI DỄ DÀNG
                                </h2>
                              </div>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
<app-footer></app-footer>