<app-header></app-header>
<main style="padding-top: 63px; background-color: ghostwhite;">
    <div class="container-fluid container-lg pt-3 pb-3 border-bottom px-lg-5">
        <div class="row justify-content-md-center mt-3 minimum-heigh">
            <div class="col-md-4 col-lg-3 pr-0 bg-white justify-content-center">
                <div class=" user-sidebar sidebar-md ">
                    <ul class="navbar-nav " aria-labelledby="">
                        <li class="nav-item">
                            <div class="user-brief ">
                                <div class="d-flex flex-column align-self-center user-brief_right m-md-1">
                                    <div class="text-muted text-sm d-none d-md-flex ">
                                        <a href="profile" class="text-decoration-none" style="color: black !important;">
                                            <i class="fa fa-edit"></i>
                                            Sửa hồ sơ
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <div class="row ">
                            <div class="m-2 col-lg-7 col-7 menu-items">
                                <li class="mb-1" style="color: #93a3b5 !important;">
                                    <i class="fa fa-user-circle">
                                        <a href="" style="color: #93a3b5 !important;" routerLink="/profile">Thông tin
                                            tài khoản</a>
                                    </i>
                                </li>
                                <li class="mb-1" style="color: #93a3b5 !important;">
                                    <i class="fa fa-clock-o">
                                        <a href="" routerLink="/timeline" style="color: #93a3b5 !important;">Lịch của
                                            tôi</a>
                                    </i>
                                </li>
                                <li class="mb-1" style="color: #93a3b5 !important;">
                                    <i class="fa fa-unlock-alt">
                                        <a href="" style="color: #93a3b5 !important;" routerLink="/repassword">Đổi mật
                                            khẩu</a>
                                    </i>
                                </li>
                            </div>
                        </div>
                    </ul>
                </div>
            </div>
            <div class="col-md-8 col-lg-9 pl-3 pr-3">
                <div class="user-page-content">
                    <section class="border-light">
                        <div class="row justify-content-center m-2">
                            <h5 class="w-100 text-center d-none d-md-block">Đổi mật khẩu</h5>
                            <p>Để bảo mật tài khoản, vui lòng không chia sẻ mật khẩu cho người khác.
                            </p>
                        </div>
                        <div class="row justify-content-center m-2">
                            <div class="profile-update text-center">
                                <form action="" class="edit_user">
                                    <input name="utf8" type="hidden" value="✓">
                                    <input type="hidden" name="_method" value="patch">
                                    <div class="form-group">
                                        <label for="M_t_kh_u_c_">Mật khẩu cũ</label>
                                        <input type="password" name="old_password" id="old_password" value=""
                                            class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="user_password">Mật khẩu mới</label>
                                        <input class="form-control" type="password" name="user[password]"
                                            id="user_password">
                                    </div>
                                    <div class="form-group">
                                        <label for="user_password_confirmation">Xác nhận mật khẩu mới</label>
                                        <input class="form-control" type="password" name="user[password_confirmation]"
                                            id="user_password_confirmation">
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" name="commit" value="Xác nhận" class="btn btn-primary"
                                            data-disable-with="Xác nhận">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</main>

<app-footer></app-footer>