<header>
    <div class="sport-nav navbar-fixed">
        <nav class="navbar navbar-expand-lg fixed-top shadow navbar-light bg-white">
            <div class="container-fluid">
                <div class="d-flex align-items-center">
                    <a href="" navnar-brand py-1 ml-2>
                        <img src="../../assets/logo/logo.svg" alt="Logo" style="width: 60px; height: 35px;">
                    </a>
                </div>
                <button type="button" data-toggle="collapse" data-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation"
                    class="navbar-toggler navbar-toggler-right collapsed">
                    <i class="fa fa-bars"></i>
                </button>
                <div class="navbar-callapse mr-3 callapse">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a href="" class="nav-link" routerLink="/rank">Bảng Xếp Hạng</a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link">Bài Đăng</a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link" routerLink="//profile">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link">Đăng xuất</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>
<main style="padding-top: 63px;"> 
  <div class="container text-center">
    <div class="league-info">
      <h1>BẢNG XẾP HẠNG</h1>
    </div>
  </div>
  <div class="container mb-5">
    <div class="table-rankings">
      <table class="table table-responsive-lg text-gray-700 table-striped table-borderless table-hover pd-2">
        <thead>
          <tr>
            <th scope="col">Hạng</th>
            <th scope="col" style="width: 250px;">Tên</th>
            <th scope="col">Trận</th>
            <th scope="col">Thắng</th>
            <th scope="col">Hòa</th>
            <th scope="col">Thua</th>
            <th scope="col">Trình độ</th>
            <th scope="col">Đánh giá trung bình</th>
            <th scope="col">Tổng đánh giá</th>
            <th scope="col">Tổng uy tín bị trừ</th>
            <th scope="col">Điểm xếp hạng</th>
          </tr>
        </thead>
        <tbody>
            <tr>
              <th style="font-size: 20px;">🏆🥇</th>
              <td class="team_name">
                <span>SVTN VIS</span>
              </td>
              <td>35</td>
              <td>12</td>
              <td>6</td>
              <td>14</td>
              <td>146</td>
              <td>4.53</td>
              <td>77.0</td>
              <td>0.0</td>
              <td>1754</td>
            </tr>
            <tr>
              <th style="font-size: 20px;">🥈</th>
              <td class="team_name">
                <span>Navy FC</span>
              </td>
              <td>23</td>
              <td>13</td>
              <td>2</td>
              <td>5</td>
              <td>206</td>
              <td>4.68</td>
              <td>47.0</td>
              <td>0.0</td>
              <td>1379</td>
            </tr>
            <tr>
              <th style="font-size: 20px;">🥉</th>
              <td class="team_name">
                <span>FC Áo Tập</span>
              </td>
              <td>23</td>
              <td>6</td>
              <td>3</td>
              <td>11</td>
              <td>116</td>
              <td>4.78</td>
              <td>48.0</td>
              <td>0.0</td>
              <td>1314</td>
            </tr>
            <tr>
                <th>4</th>
              <td class="team_name">
                <span>𝗛𝗢𝗧 𝗕𝗟𝗢𝗢𝗗 𝗙𝗖</span>
              </td>
              <td>19</td>
              <td>15</td>
              <td>2</td>
              <td>1</td>
              <td>147</td>
              <td>4.51</td>
              <td>45.0</td>
              <td>0.0</td>
              <td>1273</td>
            </tr>
            <tr>
                <th>5</th>
              <td class="team_name">
                <span>FC AEVP</span>
              </td>
              <td>17</td>
              <td>10</td>
              <td>4</td>
              <td>3</td>
              <td>152</td>
              <td>4.42</td>
              <td>44.0</td>
              <td>0.0</td>
              <td>1254</td>
            </tr>
            <tr>
                <th>6</th>
              <td class="team_name">
                <span>Karaoke 165 Trần Đăng Ninh FC</span>
              </td>
              <td>16</td>
              <td>12</td>
              <td>1</td>
              <td>1</td>
              <td>163</td>
              <td>4.45</td>
              <td>31.0</td>
              <td>0.0</td>
              <td>1073</td>
            </tr>
            <tr>
                <th>7</th>
              <td class="team_name">
                   <span>StepUp&amp;Friends</span>
              </td>
              <td>8</td>
              <td>3</td>
              <td>1</td>
              <td>3</td>
              <td>116</td>
              <td>4.76</td>
              <td>29.0</td>
              <td>0.0</td>
              <td>1027</td>
            </tr>
            <tr>
                <th>8</th>
              <td class="team_name">
                <span>FC RƯỢU CAN LộC</span>
              </td>
              <td>12</td>
              <td>4</td>
              <td>3</td>
              <td>4</td>
              <td>147</td>
              <td>4.73</td>
              <td>24.0</td>
              <td>0.0</td>
              <td>980</td>
            </tr>
            <tr>
                <th>9</th>
              <td class="team_name">
                <span>Fc Bắc Đảo</span>
              </td>
              <td>19</td>
              <td>12</td>
              <td>0</td>
              <td>7</td>
              <td>133</td>
              <td>4.73</td>
              <td>24.0</td>
              <td>0.0</td>
              <td>966</td>
            </tr>
            <tr>
                <th>10</th>
              <td class="team_name"><span>FC StartUp</span>
              </td>
              <td>12</td>
              <td>7</td>
              <td>1</td>
              <td>1</td>
              <td>136</td>
              <td>4.08</td>
              <td>28.0</td>
              <td>0.0</td>
              <td>964</td>
            </tr>
        </tbody>
      </table>
      <div class="justify-content-center d-flex">
        
      </div>
    </div>
  </div>
  <div class="modal fade" id="LeagueRule" tabindex="-1" role="dialog" aria-labelledby="LeagueRule" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="LeagueRule">Điều lệ giải bóng đá Sporta Social League </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container-fluid">
            <p>Chơi đẹp, trung thực và vui vẻ là giá trị cốt lõi của giải đấu này của Sporta. Chúng tôi luôn hướng tới một cộng đồng chơi thể thao thượng võ, đề cao cái đẹp và an toàn.</p>
  
  <h3>Đối tượng tham gia</h3>
  
  <p>Mọi người dùng có tài khoản hợp lệ tại Sporta, từ mọi độ tuổi. Mọi câu lạc bộ từ mọi cấp độ.</p>
  
  <h3>Điều kiện tham gia</h3>
  
  <p>Để tham gia tính điểm và tranh giải thưởng, đội của anh em phải có ít nhất 5 thành viên, hình ảnh cờ đội và ảnh toàn đội ở hình cover. Tài khoản đội trưởng đã xác nhận số điện thoại. Đội của anh em đã hoàn thành ít nhất một trấn đấu (cáp kèo, chơi và đã cập nhật tỉ số, đánh giá).</p>
  
  <h3>Hình thức thi đấu</h3>
  
  <p>Anh em tạo đội và tìm đối thủ trên nền tảng Sporta thông qua tính năng "Cáp đối" (cáp kèo, tìm đối). Sau khi chơi, anh em sẽ tự cập nhật kết quả trận đấu và đánh giá đối thủ. Thắng thì trình độ anh em được tăng lên, thua thì bị hạ xuống. Đánh giá đối thủ từ 1 đến 5 ⭐. Hủy trận không báo trước sẽ bị trừ điểm uy tín. Anh em có thể chơi ở bất kỳ sân nào, loại gì hay ở đâu. Miễn là có chơi thật và có kết quả.</p>
  
  <h3>Cách thức tính điểm và xếp hạng</h3>
  
  <p>Điểm xếp hạng của đội sẽ được tính dựa trên điểm trình độ, điểm đánh giá và điểm uy tín của đội dựa trên công thức sau:</p>
  
  <p>Điểm xếp hạng = Điểm trình độ + Điểm đánh giá trung bình điều chỉnh * 100 + Tổng số điểm đánh giá nhận được trong mùa * 15 - Tổng điểm uy tín bị trừ trong mùa * 50</p>
  
  <p>Giả sử đội của bạn là điểm trình độ là 549, đánh giá trung bình là 4.59, tổng số điểm đánh giá nhận được trong mùa là 98 và bị trừ 3 điểm uy tín do bỏ boom đối thủ thì điểm xếp hạng của đội bạn là 2328.</p>
  
  <p>Bảng xếp hạng sẽ được liên tục cập nhật theo thời gian thực cho anh em ngay tại <a href="https://www.sporta.vn/bang-xep-hang?kv=Tp_H%C3%A0_N%E1%BB%99i">đây</a>.</p>
  
  <h3>Giải thưởng</h3>
  
  <p>Tùy theo từng khu vực. Chọn thành phố&nbsp;để xem.</p>
  
  <h3>Kỷ luật</h3>
  
  <p>Nếu bị phát hiện gian lận thì&nbsp;bị trừ 20 điểm uy tín và có nguy cơ bị loại khỏi giải. Mọi trận đấu của đội đứng đầu bảng từ 1 đến 3 đều bị giám sát bởi đội ngũ Sporta.</p>
  
  <p>Giải đấu chủ yếu góp phần đẩy mạnh phòng trào, hạn chế tiêu cực tạo môi trường vui chơi lành mạnh. Anh em đừng cố gắng cheat hay gian lận chi mắc công. Ở đâu cũng có người theo dõi mình. Một lần chơi bậy lưu vết mãi mãi ở trong hệ thống.</p>
  
  <p>Sporta có toàn quyền quyết định trình độ, thứ hạng hay thậm chí loại đội của bạn ra khỏi giải đấu nếu phát hiện bất cứ hành vi gian lận nào. Quyết định của Sporta là quyết định cuối cùng.</p>
  
  <h3>Khiếu nại</h3>
  
  <p>Giải đấu cho cộng đồng và dựa vào cộng đồng nên anh em hoàn toàn có thể báo cáo gian lận cho Sporta tại fanpage chính thức <a href="https://facebook.com/sportavn">ở đây</a>&nbsp;hoặc tham gia vào nhóm của giải tại&nbsp;<a href="https://www.facebook.com/groups/giaidau.sporta">https://www.facebook.com/groups/giaidau.sporta</a></p>
  
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="LeagueAward" tabindex="-1" role="dialog" aria-labelledby="LeagueAward" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="LeagueAward">Phần thưởng giải bóng đá Sporta Social League </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container-fluid">
            <h3>Giải thưởng</h3>
  
  <p>Kết quả&nbsp;sẽ được thông báo&nbsp;4 tháng 1 lần&nbsp;dựa vào kết quả xếp hạng được tính đến lúc 0h00&nbsp;ngày 1/2, 1/6, 1/10. Số lượng và chi tiết phần thưởng sẽ&nbsp;tùy thuộc vào khu vực (tỉnh/thành) cũng như sẽ thay đổi&nbsp;sau mỗi lần trao thưởng.</p>
  
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<app-footer></app-footer>
