<app-header></app-header>
<main style="padding-top: 63px;">
  <div class="container text-center">
    <div class="league-info">
      <h1>BẢNG XẾP HẠNG</h1>
    </div>
  </div>
  <div class="container mb-5">
    <div class="table-rankings">
      <table class="table table-responsive-lg text-gray-700 table-striped table-borderless table-hover pd-2">
        <thead>
          <tr>
            <th scope="col">Hạng</th>
            <th scope="col" style="width: 250px;">Tên</th>
            <!-- <th scope="col">Trận</th>
            <th scope="col">Thắng</th>
            <th scope="col">Hòa</th>
            <th scope="col">Thua</th> -->
            <th scope="col">Điểm xếp hạng</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of listData; let index = index">
            <td style="font-size: 20px;">{{index==0?'🏆🥇':index==1?'🥈':index==2?'🥉':index}}</td>
            <td class="team_name">
              <span>{{item.nameTeam}}</span>
            </td>
            <!-- <td>35</td>
            <td>12</td>
            <td>6</td>
            <td>14</td> -->
            <td>{{item.pointRank}}</td>
          </tr>
        </tbody>
      </table>
      <div class="justify-content-center d-flex">

      </div>
    </div>
  </div>
</main>
<app-footer></app-footer>