<app-header></app-header>
<main style="padding-top: 63px; background-color: ghostwhite;   ">
    <div class="container-fluid pt-3 pb-3 border-bottom px-lg-5">
        <div class="row justify-content-md-center">
            <div class="col-xl-9">
                <div class="search-bar p-3 p-lg-1 pl-lg-4" style="border-radius: 0px !important;">
                    <div class="row">
                        <div class="col-lg-6 d-flex align-items-center form-group">
                            <input type="date" id="date"
                                class="datepicker datepicker-search form-control border-0 shadow-0"
                                data-provide="datepicker" value="T6, 17-06-2022">
                        </div>
                        <div class="col-lg-4" style="margin-bottom: 20px;">
                            <button type="submit" class="btn btn-primary btn-block h-100" id="main-search__submit"
                                (click)="reloadData()">Tìm kiếm</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" style="border-bottom: 1px solid;">
        <div class="table-rankings">
            <table class="table table-responsive-lg text-gray-700 table-striped table-borderless table-hover pd-2">
                <thead>
                    <tr>
                        <th scope="col">Khung giờ</th>
                        <th scope="col">Người đặt</th>
                        <!-- <th scope="col">Club</th> -->
                        <th scope="col">Tỷ số</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of listSearch">
                        <td>{{item.hours}}</td>
                        <td>{{item['r_idHomeTeam.nameTeam']}}</td>
                        <!-- <td>1754</td> -->
                        <td>
                            <input style="width: 20px;" type="text" [(ngModel)]="item.goalHomeTeam">
                            -
                            <input style="width: 20px;" type="text" [(ngModel)]="item.goalGuestTeam">
                        </td>
                        <td>
                            <button type="button" class="btn btn-primary h-100 w-50" (click)="update(item)">
                                Cập nhật
                            </button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-primary h-100 w-50"
                                (click)="openModal(template,item.id)">Hủy</button>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>
<app-footer></app-footer>
<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Cảnh báo</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>Bạn có chắc muốn hủy trận không?</p>
        <button type="button" class="btn btn-default float-right" (click)="confirm()">Yes</button>
        <button type="button" class="btn btn-primary float-right" (click)="decline()">No</button>
    </div>
</ng-template>