<app-header></app-header>
<main style="padding-top: 63px; background-color: ghostwhite;">
    <div class="container-fluid pt-3 pb-3 border-bottom px-lg-5">
        <div class="row justify-content-md-center">
            <div class="col-xl-9">
                <div class="search-bar p-3 p-lg-1 pl-lg-4" style="border-radius: 0px !important;">
                    <div class="row">
                        <div class="col-lg-6 d-flex align-items-center form-group">
                            <input type="date" id="date"
                                class="datepicker datepicker-search form-control border-0 shadow-0">
                        </div>
                        <div class="col-lg-4" style="margin-bottom: 20px;">
                            <button class="btn btn-primary btn-block h-100" id="main-search__submit"
                                (click)="reloadData()">Tìm kiếm</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" style="border-bottom: 1px solid;">
        <div class="table-rankings">
            <table class="table table-responsive-lg text-gray-700 table-striped table-borderless table-hover pd-2">
                <thead>
                    <tr>
                        <th scope="col">Khung giờ</th>
                        <th scope="col">Giá</th>
                        <th scope="col">Trạng thái</th>
                        <th scope="col">Đặt sân</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of listSearch">
                        <td>{{item.value}}</td>
                        <td>{{item.priceServices.price}}</td>
                        <td [style]="{color: item.numberMatch>2?'Red':'Green'}">
                            {{item.numberMatch>2?'Full':'Available'}}</td>
                        <td>
                            <button type="button" class="btn btn-primary h-100 w-50"
                                (click)="openModal(template, item.value)" *ngIf="item.numberMatch<3">Book</button>
                            <button type="button" class="btn btn-primary h-100 w-50" *ngIf="item.numberMatch>2"
                                disabled>Book</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>
<app-footer></app-footer>
<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Xác nhận đặt sân</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>Hình thức trận</p>
        <div class="check" style="width: 100%;">
            <input type="checkbox" id="exampleCheck1" style="margin: 0 20px;" [(ngModel)]="solo">
            <label for="exampleCheck1">Cáp kèo</label>
        </div>
        <br>
        <button type="button" class="btn btn-primary float-right" (click)="confirm(templateNested)">Yes</button>
        <button type="button" class="btn btn-primary " (click)="decline()">No</button>
    </div>
</ng-template>

<ng-template #templateNested>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Hình thức</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef2.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>Chọn phương thức thanh toán</p>
        <select>
            <option value="">
                <label for="">Online</label>
            </option>
            <option value="">
                <label for="">Tiền mặt</label>
            </option>
        </select><br>
        <button *ngIf="modalRef" type="button" class="btn btn-primary " style="margin-top: 10px;"
            (click)="modalRef2.hide()">No</button>
        <button *ngIf="modalRef" type="button" class="btn btn-primary float-right" style="margin-top: 10px;"
            (click)="yesPay()">Yes</button>
    </div>
</ng-template>