<app-header></app-header>
<main style="padding-top: 63px; background-color: ghostwhite;">
    <div class="container-fluid pt-3 pb-3 border-bottom px-lg-5">
        <h3>Quản lý sân</h3>
    </div>
    <div class="container" style="border-bottom: 1px solid;">
        <div class="table-rankings">
            <table class="table table-responsive-lg text-gray-700 table-striped table-borderless table-hover pd-2">
                <thead>
                    <tr>
                        <th scope="col">Tên sân</th>
                        <th scope="col">Kiểu sân</th>
                        <th scope="col">Trạng thái</th>
                        <th scope="col">Cập nhật</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of listSearch">
                        <td>{{item.name}}</td>
                        <td>{{item.type}}</td>
                        <td>
                            <select [(ngModel)]="item.status">
                                <option [value]="'1'">Available</option>
                                <option [value]="'0'">Unavailable</option>
                            </select>
                        </td>
                        <td>
                            <button type="button" class="btn btn-primary h-100 w-50" (click)="update(item)">
                                Cập nhật
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>
<app-footer></app-footer>